#
# Example ssh.cfg for jumphost
# Change User and IdentityFile(s) as necessary
#

Host bastion 
  Hostname bastion.a89a.example.opentlc.com
  User jskorzyn-redhat.com

Host *.internal
  User ec2-user
  ProxyJump bastion

Match User jskorzyn
  IdentityFile /home/jskorzyn/.ssh/id_rsa

Match User ec2-user
  IdentityFile /home/jskorzyn/.ssh/a89akey.pem

Host *
  ControlMaster auto
  ControlPath /tmp/%h-%r
  ControlPersist 5m
  StrictHostKeyChecking no
